.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation */
.welcome-animation {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.welcome-animation.show {
  opacity: 1;
  transform: translateY(0);
}


:root {
  --background-color-light: #e8eaf1;
  --background-color-dark: #313a50;
  --text-color-light: #000000;
  --text-color-dark: #ffffff; 
}


.footer {
  text-align: center;
  margin-top: 60px;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.dark-mode #card{
  background-color: #3c4763;
}

body.light-mode #card{
  background-color: #cbd2e0;
}

body.light-mode #cardhead{
  background-color: #c1c8da;
}

body.dark-mode #cardhead{
  background-color: #596a93;
}

body.dark-mode #tablehead{
  background-color: #596a93;
  color:"#FFFFFF",
}

body.dark-mode #tablebody{
  background-color: #3b4762;
  color:"#FFFFFF",
}

body.light-mode #tablebody{
  background-color: #e0e4ed;
  color:"black",
}
body.light-mode #text{

  color:#525252
}
body.dark-mode #text{

  color:"#FFFFFF",
}

body.light-mode #tablehead{
  background-color: #c1c8da;
  color:"black",
}

body.dark-mode .btnsc{
  background-color: #e8eaf1;
  color: #313a50;
}

body.light-mode .btnsc{
  background-color: #313a50;
  color: white;
}

body.dark-mode #sidebar{
  background-color: #1f2937;
}

body.light-mode #sidebar{
  background-color: #d8dde8;
}

.siderow{
  display: flex;
}

.sidecol1{
  width:8%;
}

.sidecol2{
  width:90%;
}

.dashboard{
  font-size: 50px;
}
.pdf-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio of 16:9 */
  height: 0;
  overflow: hidden;
  border: 1px solid #ccc; /* Optional border */
  border-radius: 8px; /* Optional rounded corners */
  background-color: #f9f9f9; /* Optional background color */
}

.responsive-pdf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


@media only screen and (max-width: 600px) {
  .sidecol1{
    width:19%;
  }
  
  .sidecol2{
    width:81%;
  }
  .dashboard{
    font-size: 30px;
  }
}


